<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Scenic Route</string>
	<key>CFBundleExecutable</key>
	<string>ScenicRoute</string>
	<key>CFBundleIconFile</key>
	<string>app57</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>app57</string>
		<string>app114</string>
		<string>app512</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>net.cyberdream.scenicroute.ottawa</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ScenicRoute</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.8</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
</dict>
</plist>
